.brannslukning-logo p {
    display: inline;
}

.active-fire img{
    content:url("/static/brann.svg");
}

.active-fire img:hover{
    content:url("/static/brann-slukket.svg");
}

.no-active-fire img:hover{
    content:url("/static/brann.svg");
}

.no-active-fire img{
    content:url("/static/brann-slukket.svg");
}