dt {
    font-weight: 600;
    color: var(--a-text-default);
}

dd {
    font-weight: 400;
    color: var(--a-text-subtle);
    margin-left: 0;
    margin-bottom: 24px;
}

.hendelsedl {
    max-width: 808px;
}

.hendelsedl p {
    max-width: 600px;
    word-break: break-word;
}