fieldset {
    border: none;
}

legend {
    font-size: var(--a-font-size-heading-large);
    font-weight: 600;
    line-height: var(--a-font-line-height-heading-large);
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    padding: 40px;
    border-radius: 12px 12px 0 0;
    gap: 40px;
    background-color: var(--a-surface-selected);
    max-width: 808px;
}

form label {
    font-size: var(--a-font-size-medium);
    font-weight: 600;
    line-height: var(--a-font-line-height-medium);
}

.input-description {
    font-size: var(--a-font-size-medium);
    line-height: var(--a-font-line-height-medium);
    margin: 2px;
    font-weight: 400;
}


input {
    width: 350px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--a-border-default);
    gap: 8px;
    display: block;
    background-color: var(--a-surface-default);
    margin-bottom: 20px;
}

textarea {
    display: block;
    height: 90px;
    width: 600px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--a-border-default);
    gap: 8px;
    background-color: var(--a-surface-default);
    word-break: break-word;
    margin-bottom: 20px;
}

input[type="file"]::file-selector-button{
    float: right;
    background-color:var(--a-surface-action);
    color:white;
    border:none;
    padding:10px

}

input[type="file"]{
    width: 600px;
    padding:0px;
    vertical-align: center;
}
