@import url("https://cdn.nav.no/aksel/@navikt/ds-css/5.7.3/index.min.css");
@import "branslukning-logo.css";

body {
    max-width: 800px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    line-height: 1.333;
    font-size: 1.125rem;
    color: var(--a-text-default);
    margin: 0 auto;
}

button {
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    gap: 8px;
    background-color: var(--a-surface-action);
}

.btnlink {
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    gap: 8px;
    background-color: var(--a-surface-action);
    color: var(--a-text-on-action);
    text-decoration: none;
}

#opprett-ny-btn {
    display: inline-block;
    margin-top: 20px;
}

dt {
    font-weight: bold;
}

.hendelsedl p {
    max-width: 600px;
    word-break: break-word;
}

#500-katt {
    padding-top: 10px;
    height: 250px;
    margin: 0 auto 0 auto;
    display: block;
}

.aktive-hendelser-list {
    list-style: none;
    padding: 0;
}

.aktive-hendelser-list li {
    text-decoration: none;
    border-bottom: solid var(--a-border-divider) 1px;
}

.aktive-hendelser-list a{
    text-decoration: none;
}

.aktive-hendelser-list a p:first-of-type{
    text-decoration: none;
    color: var(--a-text-action);
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px;
}

.aktive-hendelser-list a p:nth-of-type(2){
    text-decoration: none;
    color: var(--a-text-subtle);
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}