@import url("https://cdn.nav.no/aksel/@navikt/ds-css/5.7.3/index.min.css");
@import "branslukning-logo.css";
@import "definitionlist.css";
@import "kvittering.css";
@import "startpage.css";

:root {
    --composite-box-backround-color: var(--a-surface-selected);;
}

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    line-height: 1.333;
    font-size: 1.125rem;
    color: var(--a-text-default);
    padding: 30px;
}

main {
    max-width: 800px;
    margin: 50px auto;
}

button {
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    border-style: none;
    gap: 8px;
    background-color: var(--a-surface-action);
    color: white;
}

h1 {
    font-size: var(--a-font-size-heading-xlarge);
    color: var(--a-text-default);
    font-weight: 600;
}

h2 {
    font-size: var(--a-font-size-heading-large);
    color: var(--a-text-default);
    font-weight: 600;
}

.btnlink {
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;
    gap: 8px;
    background-color: var(--a-surface-action);
    color: var(--a-text-on-action);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.neutral {
    background-color: white;
    color: var(--a-text-default);
    border-style: solid;
    border-width: 1px;
    margin-top: 50px;
    display: inline-block;
    font-weight: 400;
}

#500-katt {
    padding-top: 10px;
    height: 250px;
    margin: 0 auto 0 auto;
    display: block;
}

.composite-box-top {
    max-width: 808px;
    border-radius: 12px 12px 0 0;
    padding: 20px 20px 20px 40px;
    background-color: var(--composite-box-backround-color);
    margin-bottom: 2px;
}

.composite-box-bottom {
    max-width: 808px;
    border-radius: 0 0 12px 12px;
    padding: 20px 20px 20px 40px;
    background-color: var(--composite-box-backround-color);
}